// Inicio de los estilos para los footers".
$tamano-enlace: 18px;

.fin {
  grid-area: footer;
  background-color: map-get($map: $colores-fondo-map, $key: violetita);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  align-items: center;
  justify-items: center;
}

.logoFin {
  height: 140px;
  width: 200px;
  border-radius: 40px;
  grid-column: 1/2;
}

.listaFin {
  bottom: 10px;
  list-style: none;
  grid-column: 2/3;
  padding: 0px;
}

.liFooter {
  font-size: $tamano-enlace;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.aFin {
  color: white;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.info {
  grid-column: 3/4;
}

.pFooter {
  color: white;
  padding-bottom: 4px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
// Fin de los estilos para los footers".
