$fondo-footer: #a8428c;
$tamano-enlace: 18px;


.fin {
  grid-area: footer;
  background-color: $fondo-footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  align-items: center;
  justify-items: center;
}

.logoFin {
  height: 140px;
  width: 200px;
  border-radius: 40px;
  grid-column: 1/2;
}

.listaFin {
  left: 380px;
  bottom: 10px;
  list-style: none;
  grid-column: 2/3;
}

.liFooter {
  font-size: $tamano-enlace;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.aFin {
  color: white;
  text-decoration: none;

    &:hover{
      color: black;
    }
}

.info {
  grid-column: 3/4;
}

.pFooter {
  color: white;
  padding-bottom: 4px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}